<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.united.qa.testcases.LoginPageTest"/>
      <class name="com.united.qa.testcases.HomePageTest"/>
      <class name="com.united.qa.testcases.MyAssignmentsPageTest"/>
      <class name="com.united.qa.testcases.AddCommandPageTest"/>
      <class name="com.united.qa.testcases.CheckCommandPageTest"/>
      <class name="com.united.qa.testcases.CompleteAssignmentTest"/>
      <class name="com.united.qa.testcases.MatchPageTest"/>
      <class name="com.united.qa.testcases.AssignmentsPageFreeTest"/> 
      <class name="com.united.qa.testcases.StorePageFreeTest"/> 
      <class name="com.united.qa.testcases.CommunityPageFreeTest"/>
      <class name="com.united.qa.testcases.EntrepreneursPageFreeTest"/>
      <class name="com.united.qa.testcases.BusinessesPageFreeTest"/>
      <class name="com.united.qa.testcases.AssignmentsPageAdminTest"/>
      <class name="com.united.qa.testcases.CommunityPageAdminTest"/>
      <class name="com.united.qa.testcases.MatchPageAdminTest"/>
      <class name="com.united.qa.testcases.UlogoMydashboardPageTest"/>
      <class name="com.united.qa.testcases.UlogoChatPageTest"/>
      <class name="com.united.qa.testcases.UlogoMynotificationsPageTest"/>
      <class name="com.united.qa.testcases.UlogoMyprofilePageTest"/>
      <class name="com.united.qa.testcases.UlogoMycompanyPageTest"/>
      <class name="com.united.qa.testcases.UlogoMyreactionsPageTest"/>
      <class name="com.united.qa.testcases.UlogoUsermanagementPageTest"/>
      <class name="com.united.qa.testcases.UlogoAllcompaniesPageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
